
<section class="content">
  <div class="login">
    <h2>Iniciar Sesión</h2>
    <form class"form-login" action="/login" method="post">
      <input type="text" name="dni" placeholder="DNI" required />
      <input type="password" name="password" placeholder="Contraseña" required />
      <button type="submit">INGRESAR</button>
    </form>
    <% if @error %>
        <div class="error-message">
            <p style="color: red; font-weight: bold; margin-top: 10px"><%= @error %></p>
        </div>
    <% end %>
  </div>

  <div class="divider"></div>

  <div class="register">
    <div class="logo-container">
      <img src="/image/logoroanpay.webp" alt="OranPay Logo" />
    </div>
    <p>¿No posees una cuenta? <a href="/register">REGÍSTRATE</a></p>
  </div>
</section>
