<h2>Ingresar Dinero</h2>
<form action="/insert_money" method="post">

  <label>Monto a ingresar (centavos):</label>
  <input type="number" name="amount" required>

  <input type="submit" value="Ingresar">
</form>


<% if @error %>
  <p style="color:red"><%= @error %></p>
<% end %>

<% if @success %>
  <p style="color:green"><%= @success %></p>
<% end %>

<form action="/home" method="get">
    <button type="submit"> Volver al menu </button>
</form>