
<div class="container">
  <h2>Ingresar Dinero</h2>

  <% if @error %>
    <div class="alert alert-error"><%= @error %></div>
  <% end %>

  <% if @success %>
    <div class="alert alert-success"><%= @success %></div>
  <% end %>

  <div class="form-container">
    <form action="/insert_money" method="post" class="money-form">
      <div class="form-group">
        <label for="amount">Monto a ingresar (en pesos):</label>
        <input type="number" name="amount" id="amount" min="0.01" step="0.01" required>
      </div>

      <div class="form-actions">
        <input type="submit" value="Ingresar">
      </div>
    </form>

  </div>
</div>

<div class="back-form button">
    <form action="/home" method="get">
        <button type="submit"> Volver al menu </button>
    </form>
</div>
