<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Billetera Virtual</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <section class="header">
    <% if request.path_info == '/home' %>
        <div class="logout-button">
            <form action="/logout" method="post">
                <button type="submit">Cerrar Sesión</button>
            </form>
        </div>
    <% end %>

    <div class="perfil">
        <img src="/image/hojaperfil.webp" alt="hoja fondo perfil" />
    </div>
  </section>

  <div class="page-container">
    <%= yield %>
  </div>

  <section class="footer"></section>
</body>
</html>
