<section class="header">
  <h1>Crea tu nueva cuenta</h1>
</section>

<section class="content">
  <div class="login">
    <form>
      <input type="text" placeholder="Nombre" required />
      <input type="text" placeholder="Apellido" required />
      <input type="text" placeholder="DNI" required />
      <input type="text" placeholder="Telefono" required />
      <input type="email" placeholder="Email" required />
      <input type="password" placeholder="Contraseña" required />
        <button type="submit">INGRESAR</button>
    </form>
  </div>

  <div class="divider"></div>

  <div class="register">
    <div class="logo-container">
      <img src="/image/logoroanpay.webp" alt="OranPay Logo" />
    </div>
  </div>
</section>

<section class="footer"></section>
