
<div class="register_text">
  <h1>Crea tu nueva cuenta</h1>
</div>

<section class="content">
  <div class="login">
    <form action="/signup" method="post">
      <input type="text" name="name" placeholder="Nombre" required />
      <input type="text" name="surname" placeholder="Apellido" required />
      <input type="text" name="dni" placeholder="DNI" required />
      <input type="text" name="tel" placeholder="Telefono" required />
      <input type="text" name="address" placeholder="Direccion" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Contraseña" required />
        <button type="submit">INGRESAR</button>
    </form>
  </div>

  <% if @error %>
    <div class="error-message">
        <p style="color: red; font-weight: bold;"><%= @error %></p>
    </div>
  <% end %>


  <div class="divider"></div>

  <div class="register">
    <div class="logo-container">
    <a href="/">
      <img src="/image/logoroanpay.webp" alt="OranPay Logo" class="logo" />
    </a>
    </div>
  </div>
</section>


