/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    background-color: #fcefd8;
    color: #000;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background: #F59F00;
    background: linear-gradient(90deg, rgba(245, 159, 0, 1) 0%, rgba(255, 190, 69, 1) 50%, rgba(245, 159, 0, 1) 100%);
    background-repeat: repeat;
    padding: 30px 0;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #222;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 140px;
  }
  
  

  .content {
    display: flex;
    flex-grow: 1;
    background-color: #fcefd8;
    padding: 40px 30px;
    gap: 80px;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  
  .register_text{
    text-align: center;
  }

  .login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .login h2 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #222;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 250px;
  }
  
  .login input {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #ccc;
  }
  
  .login button {
    padding: 10px;
    background-color: #4c924c;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login button:hover {
    background-color: #3e7a3e;
  }
  
  .divider {
    width: 2px;
    background-color: #e2d4be;
    border-radius: 1px;
  }
  
  .register {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
  }
  
  .logo-container img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .logo:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  
  .register a {
    color: #222;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .register a:hover {
    color: #4c924c;
  }

  .footer {
  background: linear-gradient(90deg, #f59f00 0%, #ffbe45 100%);
  color: #222;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: auto;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}



@media (max-width: 768px) {
    .content {
      flex-direction: column;
      gap: 30px;
      max-width: 100%;
    }
  
    .login {
      max-width: 100%;
      width: 100%;
    }
  
    .login form {
      max-width: 100%;
      width: 100%;
    }
  
    .divider {
      display: none;
    }
  
    .register {
      font-size: 16px;
      gap: 10px;
    }
  
    .logo-container img {
      object-fit: contain;  
      margin-bottom: 15px;
    }

    .header {
        font-size: 20px;
    }
  }
  
  @media (max-width: 450px) {
    .header {
      font-size: 15px;
      padding: 20px 0;
      border-bottom-left-radius: 15%;
      border-bottom-right-radius: 15%;
      flex-direction: column;
    }
  
    .login input {
      font-size: 13px;
      padding: 8px 12px;
    }
  
    .login button {
      font-size: 14px;
      padding: 8px;
    }
  }
  

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden; 
  }
  

    

.div1 {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: #f8e1ba;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.div2 {
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: #f8e1ba;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

p.numero-tarjeta {
    font-size: 20px;
    letter-spacing: 2px;
}

p.cvv {
    font-size: 20px;
    letter-spacing: 2px;
}

p.vence {
    font-size: 20px;
    letter-spacing: 2px;
}

.sin-espaciado {
  letter-spacing: normal;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #f8e1ba;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
        

.menu {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    padding-block: 20px;
    width: 100%;
}

.movimiento {
    text-align: start;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    padding-top: 30px;
}

.movimientos p {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  
.ultmov {
    margin-top: 15px;
    list-style-type: none;
}

.ultmov li {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.ultmov li:last-child {
    border-bottom: none;
}

.movimiento-item {
  transition: background 0.5s;
  cursor: pointer;
}

.movimiento-item.animar {
  background: #ffe082;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  display: block; 
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: #FCB633;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  transform: scale(0.95);
  transition: transform 0.3s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.modal-content p {
    border-bottom: 1px solid #3e7a3e;
}

.modal.show .modal-content {
  transform: scale(1);
}

.close {
  position: absolute;
  right: 10px; top: 10px;
  top: 10px; 
  cursor: pointer;
  font-size: 24px;
}

.ingresos {
  color: green;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
  
.egresos {
    color: red;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

  
  .perfil img {
    width: 130px;
    height:100%;
    display: block;
  }

  .dinero {
    display: flex;
    gap: 100px !important; 
    flex-wrap: wrap; 
    word-break: break-word;
  }

  .dinero p {
    display: block;
  }

  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100%;  
    margin: 0 auto;
    padding: 40px;  
    background-color: #f8e1ba;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
      
  }


  .container * {
    max-width: 100%;
  }

  .containermov {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: 100%;  
    margin: 0 auto;
    padding: 40px;  
    background-color: #f8e1ba;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
      
  }

h2 {
  text-align: center;
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom:50px;
}

.form-actions input,
.back-form button {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #018d13;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.back-form button {
  bottom: 50px;
}

.form-actions input:hover,
.back-form button:hover {
  background-color: #3e7a3e;
}

label{
  margin-top:30px;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.acciones{
  margin: 15px;
  margin-left: -10px;
  display: flex;
  justify-content: center;
}

.acciones button {
  margin:15px;
  padding:10px;
  background-color: #018d13;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.acciones button:hover {
  background-color: #3e7a3e;
}

.ultimos_movs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ultimos_movs button {
  margin:15px;
  padding:10px;
  background-color: #018d13;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ultimos_movs button:hover {
  background-color: #3e7a3e;
}

.movs {
  display: flex;
  justify-content: center;
}

.profile-info {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.profile-info p {
  margin: 20px 0;
  font-size: 1.2em;
  width: 100%;
}

.perfil{
  position: relative;

}

.perfil button {
  position: absolute;
  top: 42%;
  left: 35%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.perfil button:hover {
  filter: brightness(1.1);
  transition: filter 0.3s;
}


.perfil img:hover {
  filter: brightness(1.1);
  transition: filter 0.3s;
  transform: scale(1.1);
}

.logout-button {
  display: flex;
}

.logout-button button {
  margin:15px;
  padding:10px;
  background-color: #018d13;
  color: black;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  left: 10px;
  top: 15px;
}

.logout-button button:hover {
  background-color: #3e7a3e;
}

@media (max-width: 450px) {
    .logout-button button {
      width: 70px;
    }
    
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(255, 190, 69, 1) 0%, rgba(245, 159, 0, 1) 70%, rgba(245, 159, 0, 1) 100%);
    /*background: linear-gradient(135deg, #1f1f1f, #3e3e3e);*/
    min-width: auto;
    height: 230px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }
  
  .tarjeta-no {
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .tarjeta-info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .tarjeta-info p {
    margin: 0;
    font-size: 14px;
  }
  
  .tarjeta-holder {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
  }
  
  .nombrelogo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nombrelogo img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }


  .ojito {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
    padding: 0;
  }

  .ojito i {
    font-size: 18px;
    color: #6c757d; 
    transition: color 0.3s;
  }
  
  .ojito:hover i {
    color: #495057; 
  }




  @media (max-width: 800px) {
    .parent {
      display: grid;
      grid-template-columns: 1fr; /* una sola columna */
      grid-template-rows: auto;
    }
  
    .div1 {
      grid-column: 1;
      grid-row: 1;
    }
  
    .div2 {
      grid-column: 1;
      grid-row: 2;
    }
  
    .div3 {
      grid-column: 1;
      grid-row: 3;
    }
  }
  